ol{
    border-left: 6px solid lightgrey;
    list-style: none;
    border-right: 6px solid lightgrey;
    width: 150px;
    padding: 5px 0px
}
li {
    border: 1px solid lightgrey;
    text-align: center;
    height: 25px;
    font-family: arial;
    font-weight: bolder;
    color: blue;
    padding-top: 10px
}
li:hover {
    background-color: blue;
    color: white;
}