.stroka>div {
    width: 8vmin;
    height: 8vmin;
    border: 1px solid black;
    text-align: center
}

.board {
    float: left;
}

.board1 {
    float: left;
}

.black {
    background: black;
}


