.row > div {
    float: left;
}
.row {
    clear: left;
    width: 100px;
}
.left {
    float: left;
    margin-left: 8px
}
.right {
    float: right;
    margin-left: -16px;
}
.right1 {
    float: left;
    margin-left: -16px;
}
.left1 {
    float: right;
    margin-left: 8px; 
}
.one {
    float: right;
    margin-left: 17px
}
.two {
    float: left;
    margin-left: -17px;
}
.three {
    float: left;
    margin-left: -25px;
}
.one1 {
    float: right;
    margin-left: 8px;
}
.two1 {
    float: right;
    margin-left: 1px;
}
.three1 {
    float: left;
    margin-left: -25px;
}

.one2 {
    float: right;
    margin-left: 18px;
}
.two2 {
    float: left;
    margin-left: -17px;
}
.three2 {
    float: left;
    margin-left: -26px;
    
}