.calendar {
    width: 250px;
}

.arhif {
    background-color: #008b8b;
    width: 250px;
    height: 30px;
    border: 1px solid #008b8b;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding-top: 5px;
    font-size: 25px;
    color: white;
}

.data {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
    width: 252px;
    height: 25px
}

.chisla {
    width: 245px;
    font-size: 25px;
    padding-left: 5px;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 0px 0px 10px 10px
}

td {
    padding-left: 5px;
}

.tringle1 {
    border-top: 10px solid rgba(10%, 50%, 20%, 0);
    border-bottom: 10px solid rgba(10%, 50%, 20%, 0);
    border-right: 10px solid #008b8b;
    border-left: 10px solid rgba(10%, 50%, 20%, 0);
    width: 0;
    height: 0;
    position: absolute;
    top: 48px;
}

.tringle2 {
    border-top: 10px solid rgba(10%, 50%, 20%, 0);
    border-bottom: 10px solid rgba(10%, 50%, 20%, 0);
    border-right: 10px solid rgba(10%, 50%, 20%, 0);
    border-left: 10px solid #008b8b;
    width: 0;
    height: 0;
    position: absolute;
    left: 240px;
    top: 48px;
}

td:hover {
    background-color: #008b8b;
    color: #ffffff;
}
