.border6 {
    position: relative;
    top: 100px;
    left: 100px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 5px 10px black, 0 0 5px 20px yellow, 0 0 5px 30px green, 0 0 5px 40px blue, 0 0 5px 50px red, 0 0 5px 60px violet;
}
