li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

#block {
    width: 300px;
    height: 150px;
    background-color: black;
}

#ball {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: red;
}

#treangle {
    border-top: 125px solid rgba(10%, 20%, 10%, 0);
    border-bottom: 125px solid rgba(10%, 20%, 10%, 0);
    border-right: 125px solid rgba(10%, 20%, 10%, 0);
    border-left: 125px solid green;
}

#block:target {
    display: block;
}

#ball:not(:target),
#treangle:not(:target) {
    display: none;
}

#ball:target {
    display: block;
}

#block:not(:target),
#treangle:not(:target) {
    display: none;
}

#treangle:target {
    display: block;
}

#ball:not(:target),
#block:not(:target) {
    display: none;
}
