.board {
    outline: 1px solid black;
    width: 500px;
    height: 500px;
    position: relative;
}

.stroka {
    position: relative;

}

.kletka {
    text-align: center;
    width: 50px;
    height: 50px;
    outline: 1px solid black;
}

.black {
    background-color: grey;
}

.kletka1 {
    text-align: center;
    position: absolute;
    top: 0px;
    left: 50px;
    outline: 1px solid black;
    width: 50px;
    height: 50px;
}

.kletka2 {
    text-align: center;
    position: absolute;
    top: 0px;
    left: 100px;
    outline: 1px solid black;
    width: 50px;
    height: 50px;
}

.kletka3 {
    text-align: center;
    position: absolute;
    top: 0px;
    left: 150px;
    outline: 1px solid black;
    width: 50px;
    height: 50px;
}

.kletka4 {
    text-align: center;
    position: absolute;
    top: 0px;
    left: 200px;
    outline: 1px solid black;
    width: 50px;
    height: 50px;
}

.kletka5 {
    text-align: center;
    position: absolute;
    top: 0px;
    left: 250px;
    outline: 1px solid black;
    width: 50px;
    height: 50px;
}

.kletka6 {
    text-align: center;
    position: absolute;
    top: 0px;
    left: 300px;
    outline: 1px solid black;
    width: 50px;
    height: 50px;
}

.kletka7 {
    text-align: center;
    position: absolute;
    top: 0px;
    left: 350px;
    outline: 1px solid black;
    width: 50px;
    height: 50px;
}

.kletka8 {
    text-align: center;
    position: absolute;
    top: 0px;
    left: 400px;
    outline: 1px solid black;
    width: 50px;
    height: 50px;
}

.kletka9 {
    text-align: center;
    position: absolute;
    top: 0px;
    left: 450px;
    outline: 1px solid black;
    width: 50px;
    height: 50px;
}

.kletka10 {
    background-image: url(../img/queen2.png);
    background-repeat: no-repeat;
    background-position: 5px;
    position: absolute;
    top: 0px;
    left: 200px;
    outline: 1px solid black;
    width: 50px;
    height: 50px;
}

.kletka11 {
    background-image: url(../img/king2.png);
    background-repeat: no-repeat;
    background-position: -1px;
    position: absolute;
    top: 0px;
    left: 250px;
    outline: 1px solid black;
    width: 50px;
    height: 50px;
}

.kletka12 {
    background-image: url(../img/queen1.png);
    background-repeat: no-repeat;
    background-position: 5px;
    position: absolute;
    top: 0px;
    left: 200px;
    outline: 1px solid black;
    width: 50px;
    height: 50px;
}

.kletka13 {
    background-image: url(../img/king1.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 250px;
    outline: 1px solid black;
    width: 50px;
    height: 50px;
}

.pesh2 {
    background-image: url(../img/pesh2.png);
    background-repeat: no-repeat;
    background-position: 8px;

}

.lad2 {
    background-image: url(../img/lad2.png);
    background-repeat: no-repeat;
}

.horse2 {
    background-image: url(../img/horse2.png);
    background-repeat: no-repeat;
}

.el2 {
    background-image: url(../img/el2.png);
    background-repeat: no-repeat;
}

.pesh1 {
    background-image: url(../img/pesh1.png);
    background-repeat: no-repeat;
    background-position: 10px;
}

.lad1 {
    background-image: url(../img/lad1.png);
    background-repeat: no-repeat;
}

.horse1 {
    background-image: url(../img/horse1.png);
    background-repeat: no-repeat;
}

.el1 {
    background-image: url(../img/el1.png);
    background-repeat: no-repeat;

}
