div {
    position: absolute;
}

.nomer1 {
    top: 0px;
    left: 10px;
}

.nomer2 {
    top: 0px;
    left: 20px;
}

.nomer3 {
    top: 15px;
    left: 0px;
}

.nomer4 {
    top: 15px;
    left: 20px;
}

.nomer5 {
    top: 15px;
    left: 10px;
}

.nomer6 {
    top: 30px;
    left: 10px;
}

.nomer7 {
    top: 30px;
    left: 0px;
}

.nomer8 {
    top: 30px;
    left: 20px;
}

.nomer9 {
    top: 45px;
    left: 20px;
}

.nomer10 {
    top: 45px;
    left: 0px;
}

.nomer11 {
    top: 45px;
    left: 10px;
}

.nomer12 {
    top: 60px;
    left: 10px;
}

.nomer13 {
    top: 60px;
    left: 20px;
}

.nomer14 {
    top: 60px;
    left: 0px;
}

.nomer15 {
    top: 75px;
    left: 20px;
}

.nomer16 {
    top: 75px;
    left: 10px;
}

.nomer17 {
    top: 75px;
    left: 0px;
}
